{% extends 'base_personal.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Buscar empleado por Habilidades:</h1>
                    <div class="col-md-12">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="listado">
                                        {% for tipo in tiposhabilidades %}
                                            {% if forloop.first %}
                                                <tr>
                                                    <th>Tipo</th>
                                                    <th>Nombre</th>
                                                    <th>Marcar</th>
                                                </tr>
                                            {% endif %}
                                            {% for habilidad in tipo.agrupadas.all %}
                                                <tr>
                                                    <td>{{tipo.nombre}}</td>
                                                    <td>{{habilidad.nombre}}</td>
                                                    <td><input type="checkbox" name="habilidad" value="{{habilidad.id}}"></td>
                                                </tr>
                                            {% endfor %}
                                        {% endfor %}
                                    </table>
                                </div>
                            </div>
                            <br>
                            <div class="row spacer">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <button type="submit" class="btn btn-block btn-primary">Buscar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}