{% extends 'base_personal.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-12">
                        <h1>Empleados con este Perfil:</h1>
                        {% for empleado in empleados %}
                            <div class="col-md-6">
                                <h3>
                                    {{empleado.apellidos}}, {{empleado.nombres}}
                                    <a target="_blank" href="/admin/personal/empleado/{{empleado.id}}">
                                        <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                    </a>
                                </h3>
                                <p>
                                    <b>Puntaje:</b>{{empleado.puntaje}}
                                     <a target="_blank" href="/personal/buscar/{{empleado.id}}">(Ver Resumen)</a>
                                </p>
                                <table class="turnero">
                                    <tr>
                                        <th>Habilidad</th>
                                        <th>Nivel</th>
                                    </tr>
                                    {% with empleado.habilidades.all as habilidades_adquiridas %}
                                        {% for habilidad in habilidades_buscadas %}
                                            <tr>
                                                <td>{{habilidad.nombre}}</td>
                                                <td>
                                                    {% for habilidad_adquirida in habilidades_adquiridas %}
                                                        {% if habilidad_adquirida.habilidad ==  habilidad %}
                                                            {{habilidad_adquirida.get_nivel_display}} ({{habilidad_adquirida.nivel}})
                                                        {% endif %}
                                                    {% endfor %}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    {% endwith %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}