{% extends 'base_personal.html' %}

{% block content %}
    <div class="empleado container">
        <div class="row">
            <div class="row">
                <h2>
                    {{empleado.apellidos}}, {{empleado.nombres}}
                    <a target="_blank" href="/admin/personal/empleado/{{empleado.id}}">
                        <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                    </a>
                </h2>
            </div>
            <div class="row">
                <div class="col-md-9">
                    {% if empleado.foto %}
                        <div class="col-md-6">
                            <img class="retrato" src="{{empleado.foto.url}}" alt="(foto)">
                        </div>
                    {% endif %}
                    <div class="col-md-6">
                        <h3><b>Datos Laborales</b></h3>
                        {% if empleado.num_legajo %}
                            <p><b>N° Legajo:</b> {{empleado.num_legajo}}</p>
                        {% else %}
                            <p><b>Postulante</b></p>
                        {% endif %}
                        {% if empleado.contrato_actual %}
                            <p>
                                <b>Cargo Actual:</b> {{empleado.contrato_actual.cargo.nombre}}
                                {% if empleado.contrato_actual.subcargo %}
                                    - {{empleado.contrato_actual.subcargo}}
                                {% endif %}
                            </p>
                            {% if empleado.contrato_actual.unidad %}
                                <p>
                                    <b>Area:</b> {{empleado.contrato_actual.unidad.nombre}}{{empleado.contrato_actual.sector.nombre}}
                                    <a target="_blank" href="/admin/organigrama/unidad/{{empleado.contrato_actual.unidad.id}}">
                                        <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                    </a>
                                </p>
                            {% endif %}
                            <p><b>Contratacion:</b> {{empleado.contrato_actual.begda}} - Actualidad</p>
                            {% if empleado.contratos_previo %}
                            <div class="popup-overlay"></div>
                            <div class="popup">
                                <a>Ver Historial</a>
                                <div class="popuptext">
                                    <h2>Historial</h2>
                                    <ul>
                                        {% for contrato in empleado.contratos.all %}
                                            <li>
                                                {{contrato.cargo.nombre}} en <b>{{contrato.unidad.nombre}}</b>
                                                desde {{contrato.begda}} hasta 
                                                {% if contrato.endda|date:"dmY" == '31129999' %}
                                                    la actualidad.
                                                {% else %}
                                                    {{contrato.endda}}
                                                {% endif %}
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endif %}
                        {% endif %}
                        
                        <h3><b>Datos Personales</b></h3>
                        {% if empleado.num_doc %}<p><b>Numero de Documento:</b> {{empleado.num_doc}}</p>{% endif %}
                        {% if empleado.fecha_nacimiento %}<p><b>Fecha De Nacimiento:</b> {{empleado.fecha_nacimiento}}</p>{% endif %}
                        {% if empleado.estado_civil %}<p><b>Estado Civil:</b> {{empleado.get_estado_civil_display}}</p>{% endif %}
                        {% if empleado.domicilio %}<p><b>Domicilio:</b>{{empleado.domicilio}}</p>{%endif%}
                        {% if empleado.telefono %}<p><b>Telefono:</b>{{empleado.telefono}}</p>{%endif%}
                        {% if empleado.email %}<p><b>Email: </b><a href="mailto:{{empleado.email}}" target="_blank">{{empleado.email}}</a></p>{%endif%}
                    </div>
                    <hr>
                    {% if empleado.escolaridad.all %}
                        <div class="col-md-12">
                            <h2>Escolaridad</h2>
                            {% for escolar in empleado.escolaridad.all %}
                                <div class="col-md-6">
                                    <p><b>Nivel:</b>
                                        {{escolar.get_nivel_display}}
                                        {% if escolar.terminado %}
                                            <b> (Finalizado)</b>
                                        {% else %}
                                            <b> (En proceso)</b>
                                        {% endif %}
                                    </p>
                                    <p><b>Titulo:</b>{{escolar.titulo}}</p>
                                    <p><b>Establecimiento:</b>{{escolar.establecimiento}}</p>
                                    <p><b>Fechas:</b>
                                        {{escolar.begda}}
                                        {% if escolar.terminado %}
                                            a {{escolar.endda}}
                                        {% endif %}
                                    </p>
                                </div>
                            {% endfor %}
                        </div>
                        <hr>
                    {% endif %}
                    {% if empleado.documentos.all %}
                        <div class="col-md-12">
                            <h2>Documentacion</h2>
                            <br>
                            {% for documento in empleado.documentos.all %}
                                <div class="col-md-4">
                                    <p>
                                        <b>{{documento.tipo.nombre}}</b>
                                        <a href="{{documento.archivo.url}}" target="_blank">(Ver)</a>
                                    </p>
                                    <p>{{documento.descripcion}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </div>
                <div class="col-md-3">
                    <h2><b>Habilidades:</b></h2>
                    <ul>
                        {% for tipo in empleado.tipo_habilidades %}
                            <li><p>{{tipo.nombre}}:</p>
                                <ul>
                                    {% for hab in empleado.habilidades.all %}
                                        {% if tipo == hab.habilidad.tipo %}
                                            <li>{{hab.habilidad.nombre}}: {{hab.get_nivel_display}}</li>
                                        {% endif %}
                                    {% endfor %}
                                </ul>
                            </li>
                            <br>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}