{% block content %}
    <p style="margin-bottom:-10px;">Buscar Empleado</p>
    {% include 'extras/buscador.html' %}
    <!-- Podriamos Mostra Salarios Procesados -->
    <h4>Periodos Cargados:</h4>
    <ul>
        {% for cargado in cargados %}
            <li>
                <a href="/personal/salarios/{{cargado.fecha_pago|date:"Y-m-d"}}">
                    {{cargado.fecha_pago}}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}