{% load static %}

{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/personal.css' %}" />
{% endblock %}

{% block content %}
    {% for empleado in empleados %}
        <div class="empleado container">
            <div class="row">
                <div class="col-md-4">
                    {% if empleado.foto %}
                        <img class="img_empleado" src="{{empleado.foto.url}}" alt="(foto)">
                    {% else %}
                         <img class="img_empleado" src="/static/img/nofoto.png" alt="(foto)">
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="empleado_info no-print">
                        <p>
                            <b>{{empleado.contrato_actual.cargo.nombre}}:</b> 
                            {{empleado.apellidos}}, {{empleado.nombres}}
                            {% if editable %}
                                <a class="clean" target="_blank" href="admin/organigrama/empleado/{{ empleado.id }}/change/">
                                    <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                            {% endif %}
                        </p>
                        <p>{% if empleado.telefono %}<b>Telefono:</b>{{empleado.telefono}}{%endif%}</p>
                        <p>{% if empleado.email %}<b>Email:</b>{{empleado.email}}{%endif%}</p>
                        <a href="/personal/buscar/{{empleado.id}}" target="_blank">Ver Resumen Completo</a>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
    {% if editable %}
        <br>
        <a class="clean" target="_blank" href="/crear_empleado/{{ empleado.unidad.id }}">
            <img src="/static/admin/img/icon-addlink.svg" alt="Agregar SubUnidad">
            Agregar Empleados a la Unidad
        </a>
    {% endif %}
{% endblock %}