{% extends 'base_personal.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-10">
                        <h1>Salarios de Empleados:</h1>
                        <table class="listado">
                            <tr>
                                <th>N° Legajo</th>
                                <th>Apellido y Nombre</th>
                                <th>Inicio Periodo</th>
                                <th>Fin Periodo</th>
                                <th>Importe</th>
                                <th>Fecha de Cobro</th>
                                <th>Pagado</th>
                                <th>Fecha del Pago Realizado</th>
                            <tr>
                            {% for salario in salarios %}
                                <tr>
                                    <td>{{salario.empleado.num_legajo}}</td>
                                    <td>{{salario.empleado.apellidos}}, {{salario.empleado.nombres}}</td>
                                    <td>{{salario.begda}}</td>
                                    <td>{{salario.endda}}</td>
                                    <td>{{salario.importe}}</td>
                                    <td>{{salario.fecha_pago}}</td>
                                    {% if salario.pagado %}
                                        <td>PAGADO</td>
                                        <td>
                                            {{salario.pagado_fecha}}
                                        </td>
                                    {% else %}
                                        <td colspan="2" style="text-align:center;">IMPAGO</td>
                                    {% endif %}
                                    {% for detalle in salario.detalles.all %}
                                        <!--tendriamos que mostrarlos como una sublinea de la tabla-->
                                    {% endfor %}
                                    <tr>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}