{% extends 'base_personal.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-10">
                        <h1>Empleados Encontrados:</h1>
                        <table class="listado">
                            <tr>
                                <th>N° Legajo</th>
                                <th>Apellido y Nombre</th>
                                <th>Contrato</th>
                                <th>Telefono</th>
                                <th>Resumen</th>
                            <tr>
                            {% for empleado in empleados %}
                                <tr>
                                    <td>{{empleado.num_legajo}}</td>
                                    <td>{{empleado.apellidos}}, {{empleado.nombres}}</td>
                                    <td>{{empleado.contrato_actual}}</td>
                                    <td>
                                        {{empleado.telefono}}
                                    </td>
                                    <td><a href="/personal/buscar/{{empleado.id}}" target="_blank">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}