{% extends 'base_personal.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Personal:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            <li><a href="/personal/buscar">Resumen de Empleado</a></li>
                            <li><a href="/personal/buscarhabilidades">Buscar Por Habilidades</a></li>
                            <li><a href="/personal/turnos">Ver Turnos</a></li>
                            <li><a href="/personal/postulantes">Ver Postulantes</a></li>
                            <li><a href="/personal/upload_salarios">Cargar Salarios</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include "info_derecha_personal.html" %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}