{% extends 'base_personal.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-12">
                        <h1>Postulantes:</h1>
                        {% for empleado in empleados %}
                            <div class="col-md-6">
                                <h3>
                                    {{empleado.apellidos}}, {{empleado.nombres}}
                                    <a target="_blank" href="/admin/personal/empleado/{{empleado.id}}">
                                        <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                    </a>
                                </h3>
                                <p>
                                    <a target="_blank" href="/personal/buscar/{{empleado.id}}">(Ver Resumen)</a>
                                </p>
                                <table class="turnero">
                                    <tr>
                                        <th>Habilidad</th>
                                        <th>Nivel</th>
                                    </tr>
                                        {% for habilidad in empleado.habilidades.all %}
                                            <tr>
                                                <td>{{habilidad.habilidad.nombre}}</td>
                                                <td>
                                                    {{habilidad.get_nivel_display}}
                                                </td>
                                            </tr>
                                        {% endfor %}
                                </table>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}