{% extends 'base_personal.html' %}
{% load personal_tags %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Calendario de Turnos:</h1>
                    <div class="col-md-10">
                        {% for sector in sectores %}
                            <h2><b>Sector:</b> {{sector.nombre}}</h2>
                            <table class="turnero">
                                <tr>
                                    <th>Horario</th>
                                    {% for dia in dias %}
                                        <th>{{dia.nombre}} ({{dia.fecha|date:"d/M"}})</th>
                                    {% endfor %}
                                </tr>
                                {% for hr in horas %}
                                    <tr>
                                        <td>{{hr}}:00</td>
                                        {% for dia in dias %}
                                            <td class="empleados">
                                                {% turno sector dia hr as empleados %}
                                                {% for empleado in empleados %}
                                                    <p>{{empleado.apellidos}}, {{empleado.nombres}}</p>
                                                {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                            </table>
                            <br>
                        {% endfor %}
                    </div>
                    <div class="col-md-2">
                        <h2>Sectores:</h2>
                        <ul>
                            <li><a href="/personal/turnos">Todos</a></li>
                            {% for sector in lista_sectores %}
                                <li><a href="/personal/turnos/{{sector.id}}">{{sector.nombre}}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}