{% extends 'base_personal.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container informacion_basica">
                <div class="row">        
                    <div class="col-md-9">
                        <h1>Subir Salarios de Empleados</h1>
                        {% include 'extras/upload_csv_nobase.html' %}
                    </div>
                    <div class="col-md-3">
                        <br>
                        <h4>Descargar Archivo de Ejemplo</h4>
                        <p>
                            <a href="/personal/excel_ejemplo_simple">
                                Archivo Simple
                                <img class="icono" src="/static/img/icons/excel.png">
                            </a>
                        </p>
                        <p>
                            <a href="/personal/excel_ejemplo_avanzado">
                                Archivo Avanzado
                                <img class="icono" src="/static/img/icons/excel.png">
                            </a>
                        </p>
                        <hr>
                        <h4>Periodos Cargados:</h4>
                        <ul>
                            {% for cargado in cargados %}
                                <li>
                                    <a href="/personal/salarios/{{cargado.fecha_pago|date:"Y-m-d"}}">
                                        {{cargado.fecha_pago}}
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}