{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-9">
                        {% include "extras/generic_form_nobase.html" %}
                    </div>
                    <div class="col-md-3">
                       {% include "info_derecha_comercio.html" %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}