{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <br><br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5">
                            <h4><b>Datos de la Factura:</b></h4>
                            <p><b>Nº de Factura:</b> {{factura.num_factura}}</p>
                            <p><b>Fecha:</b> {{factura.fecha}}</p>
                        </div>
                        <div class="col-md-5">
                            {% if cliente %}
                                <h4><b>Cliente:</b></h4>
                                <p><b>Nombre y Apellido:</b> {{factura.cliente.nombre}}</p>
                                <p><b>Num de Documento:</b> {{factura.cliente.num_doc}}</p>
                                <p><b>Telefono:</b> {{factura.cliente.telefono}}</p>
                                <p><b>Correo Electronico:</b> {{factura.cliente.email}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="detalle">
                            <tr>
                                <th><b>Producto</b></th>
                                <th><b>Cantidad</b></th>
                                <th><b>Precio Unitario</b></th>
                                <th><b>SubTotal</b></th>
                            </tr>
                            {% for det in detalles %}
                                <tr>
                                    <td><b>{{det.producto.nombre}}</b></td>
                                    <td>{{det.cantidad}}</td>
                                    <td>{{det.producto.precio_venta}}</td>
                                    <td>{{det.subtotal}}</td>
                                </tr>
                            {% endfor %}
                            <tr></tr>
                            <tr>
                                <td colspan="2"></td>
                                <td><b>Total:<b></td>
                                <td><b>{{total}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <hr>
                <!-- VAMOS A GENERAR INFORMACION INVISIBLE -->
                <form method="post" action="/comercio/confirmar_factura">
                    {% csrf_token %}
                    <div hidden>
                    <!--info Factura -->
                    <input type="number" name="factura_num" value="{{factura.num_factura}}" id="factura_num">
                    <input type="date" name="factura_fecha" value="{{factura.fecha|date:'Y-m-d'}}" id="facturafecha">
                    <!--info Cliente -->
                    <input type="text" name="cliente_nombre" value="{{cliente.nombre}}" id="cliente_nombre">
                    <input type="number" name="cliente_num_doc" value="{{cliente.num_doc}}" id="cliente_num_doc">
                    <input type="text" name="cliente_telefono" value="{{cliente.telefono}}" maxlength="15" id="cliente_telefono">
                    <input type="text" name="cliente_email" value="{{cliente.email}}" maxlength="254" id="cliente_email">
                    <!--info Detalles -->
                    {% for det in detalles %}
                        <input type="number" 
                            name="detalle-{{forloop.counter0}}-producto"
                            value="{{det.producto.id}}"
                            id="detalle-{{forloop.counter0}}-producto"
                        >
                        <input type="number"
                            name="detalle-{{forloop.counter0}}-cantidad"
                            value="{{det.cantidad}}"
                            id="detalle-{{forloop.counter0}}-cantidad"
                        >
                    {% endfor %}
                    </div>

                    <div class="col-md-3"></div>
                    <div class="col-md-2">
                        <button type="button" onclick="javascript:history.back()" class="btn btn-block btn-primary boton_factura">Modificar</button>
                    </div>
                    {% if detalles %}
                        <div class="col-md-2">
                            <button type="submit" class="btn btn-block btn-primary boton_factura">Confirmar</button>
                        </div>
                    {% else %}
                        <div class="col-md-4">
                            <p><b>No se han cargado productos</b></p>
                        </div>
                    {% endif %}
                </form>
            </div>
        </section>
    </section>
{% endblock %}