{% extends 'base_comercio.html' %}

{% block content %}
    
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Generar Factura:</h1>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <form class="factura" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-5">
                                    <h4><b>Datos de la Factura:</b></h4>
                                    {{ form_factura.as_p }}
                                </div>
                                <div class="col-md-5">
                                    <h4><b>Cliente:</b></h4>
                                    {{ form_cliente.as_p }}
                                </div>
                            </div>
                            <br>

                            <div class="row">
                                <div class="col-md-12">
                                    <table id="tabla_detalles" class="detalle">
                                        {{ formset_detalle.management_form }}
                                        {% for form in formset_detalle %}
                                            {% if forloop.first %}
                                                <tr>
                                                    <th colspan="2"><b>Producto</b></th>
                                                    <th><b>Cantidad</b></th>
                                                    <th><b>Disponibles</b></th>
                                                    <th><b>Precio Total</b></th>
                                                </tr>
                                            {% endif %}
                                            <tr id="linea-{{forloop.counter0}}">
                                                <td>
                                                    <input type="number" 
                                                        name="detalles-{{forloop.counter0}}-codigo" 
                                                        id="id_detalles-{{forloop.counter0}}-codigo"
                                                        oninput="buscar({{forloop.counter0}})"
                                                    >
                                                </td>
                                                <td>
                                                    <select name="detalles-{{forloop.counter0}}-producto" 
                                                        id="id_detalles-{{forloop.counter0}}-producto"
                                                        oninput="disponibilidad({{forloop.counter0}})"
                                                    >
                                                        <option value="" selected="">---------</option>
                                                        {% for p in productos %}
                                                            <option value="{{p.id}}">{{p}}</option>
                                                        {% endfor %}
                                                    </select>
                                                </td>

                                                <td>
                                                    <input type="number" 
                                                        name="detalles-{{forloop.counter0}}-cantidad" 
                                                        id="id_detalles-{{forloop.counter0}}-cantidad"
                                                        oninput="calcular({{forloop.counter0}})"
                                                    >
                                                </td>
                                                <td>
                                                    <input type="number" 
                                                        name="detalles-{{forloop.counter0}}-disponible"
                                                        id="id_detalles-{{forloop.counter0}}-disponible"
                                                        class="input_bloqueado"
                                                        readonly
                                                    >
                                                </td>
                                                <td>
                                                    <input type="number" 
                                                        name="detalles-{{forloop.counter0}}-subtotal"
                                                        id="id_detalles-{{forloop.counter0}}-subtotal"
                                                        class="input_bloqueado"
                                                        readonly
                                                    >
                                                </td>
                                                <td>
                                                    <a href="javascript:borrar_linea({{forloop.counter0}});">
                                                        <img src="/static/admin/img/icon-deletelink.svg">
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr id="linea_total">
                                            <td colspan="3"></td>
                                            <td>
                                                <b style="text-align:right;">Total:</b>
                                            </td>
                                            <td>
                                                <input type="number" name="valor_total" id="valor_total" readonly class="input_bloqueado">
                                            </td>
                                        </tr>
                                    </table>
                                    <a href="javascript:agregar_linea();">
                                        <p>
                                            <img src="/static/admin/img/icon-addlink.svg">
                                            Agregar Linea
                                        </p>
                                    </a>
                                </div>
                            </div>
                            <br>
                            <div class="row spacer">
                                <div class="col-md-5"></div>
                                <div class="col-md-2">
                                    <!-- El primer boton evita que avancen con ENTER -->
                                    <button type=submit onclick="return false;" style="display:none;"></button>
                                    <button type="submit" class="btn btn-block btn-primary boton_factura">Avanzar</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </section>



    <script>
        var x = {{formset_detalle|length}} - 1;
        
        {% for producto in productos %}
            var prod{{producto.id}}precio =  {{producto.precio_venta|floatformat}};
            var prod{{producto.id}}disponibilidad = {{producto.stock.cantidad}};
            {% if producto.codigo %}
                var prod{{producto.id}}codigo = {{producto.codigo}};
                var codigo{{producto.codigo}} = {{producto.id}};
            {% endif %}
        {% endfor %}

        function removeElement(id) {
            var elem = document.getElementById(id);
            return elem.parentNode.removeChild(elem);
        }

        function addElement (tag, tipo, id, name, ) {  
            var element = document.createElement("div");  
            newDiv.appendChild(newContent); //añade texto al div creado.
        }

        function borrar_linea(id) {
            removeElement('linea-'+id);
        }

        function buscar(id) {//para el codigo de barra
            var cod_producto = document.getElementById('id_detalles-'+id+'-codigo').value;
            document.getElementById('id_detalles-'+id+'-producto').value = eval('codigo'+cod_producto);
            disponibilidad(id);
        }

        function disponibilidad(id){
            var id_producto = document.getElementById('id_detalles-'+id+'-producto').value;
            document.getElementById('id_detalles-'+id+'-disponible').value = eval('prod'+id_producto+'disponibilidad');
            document.getElementById('id_detalles-'+id+'-codigo').value = eval('prod'+id_producto+'codigo');
        }

        function calcular(id) {
            //calculamos precio
            var id_producto = document.getElementById('id_detalles-'+id+'-producto').value;
            var subtotal = document.getElementById('id_detalles-'+id+'-cantidad').value * eval('prod'+id_producto+'precio');
            document.getElementById('id_detalles-'+id+'-subtotal').value = subtotal;
            //Recalculamos total
            var i;
            var temp = 0;
            for (i = 0; i < x + 1; i++) {
                if(document.getElementById('id_detalles-'+i+'-subtotal'))
                    temp+= +document.getElementById('id_detalles-'+i+'-subtotal').value;
            }
            document.getElementById('valor_total').value = temp;
        }

        function agregar_linea() {
            //seleccionamos el ultimo item
            x+= 1;//inscrementamos el contador
            var linea = document.createElement("tr");
            linea.setAttribute('id', "linea-"+x);
            //Creamos el input de codigo
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var input = document.createElement("input");
            input.setAttribute('type', "number");
            input.setAttribute('name', "detalles-"+x+"-codigo");
            input.setAttribute('id', "id_detalles-"+x+"-codigo");
            input.setAttribute('oninput', "buscar("+x+")");
            celda.appendChild(input);
            //Creamos el selector de producto
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var select = document.createElement("select");
            select.setAttribute('name', "detalles-"+x+"-producto");
            select.setAttribute('id', "id_detalles-"+x+"-producto");
            select.setAttribute('oninput', "disponibilidad("+x+")");
            celda.appendChild(select);
            //Creamos la opcion vacia
            var option = document.createElement("option");
            option.setAttribute('value',"")
            option.setAttribute('selected',"")
            select.appendChild(option);
            var nombre = document.createTextNode("---------");
            option.appendChild(nombre);
            //Creamos todas las otras opciones
            {% for producto in productos %}
                var option = document.createElement("option");
                option.setAttribute('value', "{{producto.id}}");
                select.appendChild(option);
                var nombre = document.createTextNode("{{producto}}");
                option.appendChild(nombre);
            {% endfor %}
            //Creamos el campo de cantidad
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var input = document.createElement("input");
            input.setAttribute('type', "number");
            input.setAttribute('name', "detalles-"+x+"-cantidad");
            input.setAttribute('id', "id_detalles-"+x+"-cantidad");
            input.setAttribute('oninput', "calcular("+x+")");
            celda.appendChild(input);
            //Creamos el campo de Disponible>Stock
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var input = document.createElement("input");
            input.setAttribute('type', "number");
            input.setAttribute('name', "detalles-"+x+"-disponible");
            input.setAttribute('id', "id_detalles-"+x+"-disponible");
            input.setAttribute('readonly', "");
            input.classList.add('input_bloqueado');
            celda.appendChild(input);
            //Creamos el campo de Subtotal
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var input = document.createElement("input");
            input.setAttribute('type', "number");
            input.setAttribute('name', "detalles-"+x+"-subtotal");
            input.setAttribute('id', "id_detalles-"+x+"-subtotal");
            input.setAttribute('readonly', "");
            input.classList.add('input_bloqueado');
            celda.appendChild(input);
            //Agregamos Boton de eliminar
            var celda = document.createElement("td");
            linea.appendChild(celda);
            var link = document.createElement("a");
            link.setAttribute('href', "javascript:borrar_linea("+x+");");
            celda.appendChild(link);
            var icono = document.createElement("img");
            icono.setAttribute('src', "/static/admin/img/icon-deletelink.svg");
            link.appendChild(icono);
            //Lo agregamos al final de la tabla
            document.getElementById("tabla_detalles").getElementsByTagName('tbody')[0].appendChild(linea);

            //agregamos el total
            removeElement('linea_total');
            var linea_total = document.createElement("tr");
            linea_total.setAttribute('id', "linea_total");
            var span = document.createElement("td");
            span.setAttribute('colspan', "2");
            linea_total.appendChild(span);
            celda1 = document.createElement("td");
            linea_total.appendChild(celda1);
            bold1 = document.createElement("b");
            bold1.setAttribute('style', "text-align:right;")
            celda1.appendChild(bold1);
            var texto = document.createTextNode("Total");
            bold1.appendChild(texto);
            var total = document.createElement("td");
            linea_total.appendChild(total);
            var input = document.createElement("input");
            input.setAttribute('type', "number");
            input.setAttribute('name', "valor_total");
            input.setAttribute('id', "valor_total");
            input.setAttribute('readonly', "");
            input.classList.add('input_bloqueado');
            total.appendChild(input);
            document.getElementById("tabla_detalles").getElementsByTagName('tbody')[0].appendChild(linea_total);
        }
    </script>
{% endblock %}