{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Eliminar Producto:</h1>
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <h3>{{producto.nombre}}</h3>
                        <p>Cantidad: {{producto.stock.cantidad}}</p>
                        <div class="row">
                            <p>Seguro desea eliminar el producto del sistema?</p>
                            <br>
                            <div class="col-md-6">
                                <a href="/comercio/eliminar/confirmado/{{producto.id}}" class="boton">Si</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/comercio/inventario" class="boton">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}