{% block content %}
    {% if alertas %}
        <h3><b>Alertas:</b></h3>
        <ul>
            {% for alerta in alertas %}
                <li><a href="/admin/comercio/stock/{{alerta.producto.id}}" target="_blank">{{alerta.producto.nombre}} (Solo quedan {{alerta.cantidad}})</a></li>
            {% endfor %}
        </ul>
        <hr>
        <p>El sistema ya ha generado los pedidos correspondientes.</p>
    {% else %}
        <p>Todo esta en Orden.</p>
    {% endif %}
{% endblock %}