{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Inventario:</h1>
                    <a href="/admin/comercio/producto/add/" target="_blank" style="float: right;">
                        <img src="/static/admin/img/icon-addlink.svg">
                        Agregar Producto al inventario
                    </a>
                    <div class="col-md-12">
                        <br>
                        <table class="inventario">
                            <tr>
                                <th>Rubro</td>
                                <th>Codigo</td>
                                <th>Nombre</td>
                                <th>Costo</td>
                                <th>Precio de Venta</td>
                                <th>Cantidad Minima</td>
                                <th>Cantidad</td>
                                <th>Cantidad Ideal</td>
                                <th>Acciones</td>
                            </tr>
                            {% for item in items %}
                                <tr {% if item.alerta %}class="alerta"{% endif %}>
                                    <td>{{item.producto.rubro}}</td>
                                    <td>{{item.producto.codigo}}</td>
                                    <td><b>{{item.producto.nombre}}</b></td>
                                    <td style="text-align: center;">${{item.producto.costo}}</td>
                                    <td style="text-align: center;"><b>${{item.producto.precio_venta}}</b></td>
                                    <td style="text-align: center;">{{item.cant_min}}</td>
                                    <td style="text-align: center;"><b>{{item.cantidad}}</b></td>
                                    <td style="text-align: center;">{{item.cant_ideal}}</td>
                                    <td>
                                        <a href="/admin/comercio/producto/{{item.id}}/change/" target="_blank">
                                            <img src="/static/admin/img/icon-changelink.svg">
                                        </a>
                                        <a href="/comercio/eliminar/{{item.id}}" target="_blank">
                                            <img src="/static/admin/img/icon-deletelink.svg">
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}