{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Comercial:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            <li><a href="crear_factura">Cargar Factura</a></li>
                            <li><a href="inventario">Ver Inventario/Stock</a></li>
                            <li><a href="buscar_pedido" target="_blank">Buscar Pedidos</a></li>
                            <li><a href="indexar" target="_blank">Indexar Precios</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                       {% include "info_derecha_comercio.html" %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}