{% extends 'base_comercio.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <br><br>
                    <div class="col-md-1"></div>
                    <div class="col-md-10">
                        <div class="col-md-5">
                            <h4><b>Datos de la Factura:</b></h4>
                            <p><b>Nº de Factura:</b> {{factura.num_factura}}</p>
                            <p><b>Fecha:</b> {{factura.fecha}}</p>
                        </div>
                        <div class="col-md-5">
                            {% if factura.cliente %}
                                <h4><b>Cliente:</b></h4>
                                <p><b>Nombre y Apellido:</b> {{factura.cliente.nombre}}</p>
                                <p><b>Num de Documento:</b> {{factura.cliente.num_doc}}</p>
                                <p><b>Telefono:</b> {{factura.cliente.telefono}}</p>
                                <p><b>Correo Electronico:</b> {{factura.cliente.email}}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <table class="detalle">
                            <tr>
                                <th><b>Producto</b></th>
                                <th><b>Cantidad</b></th>
                                <th><b>Precio Unitario</b></th>
                                <th><b>SubTotal</b></th>
                            </tr>
                            {% for det in factura.detalles.all %}
                                <tr>
                                    <td><b>{{det.producto.nombre}}</b></td>
                                    <td>{{det.cantidad}}</td>
                                    <td>{{det.producto.precio_venta}}</td>
                                    <td>{{det.subtotal}}</td>
                                </tr>
                            {% endfor %}
                            <tr></tr>
                            <tr>
                                <td colspan="2"></td>
                                <td><b>Total:<b></td>
                                <td><b>{{factura.total}}</b></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}