{% extends 'base_comercio.html' %}
{% load humanize %}
{% block content %}
    <br>
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-6">
                                <h2><b>Datos del Pedido:</b></h2>
                                <p><b>Nº de Pedido:</b> {{pedido.id}}</p>
                                <p>Eventos:</p>
                                <lu>
                                    {% for evento in pedido.eventos.all %}
                                        <li>Fecha: {{evento.fecha|date:'d/m/Y'}} | <b>{{evento.get_tipo_display}}</b></li>
                                    {% endfor %}
                                </lu>
                            </div>
                            <div class="col-md-6">
                                {% if pedido.proveedor %}
                                    <h4><b>Proveedor:</b></h4>
                                    <p><b>Cuit:</b> {{pedido.proveedor.cuit}}</p>
                                    <p><b>Nombre:</b> {{pedido.proveedor.nombre}}</p>
                                    <p><b>Telefono:</b> {{pedido.proveedor.telefono}}</p>
                                    <p><b>Correo Electronico:</b> {{pedido.proveedor.email}}</p>
                                {% else %}
                                    <h4><b>Sin Proveedor Asignado</b></h4>
                                {% endif %}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <form class="factura" name="pedido" action="/comercio/accion_pedido" id="{{pedido.id}}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    <input type="hidden" name="pedido" id="id_pedido" value="{{pedido.id}}" >
                                    <h4><b>Requerimientos:</b></h4>
                                    <table class="detalle">
                                        <tr>
                                            <th colspan="2"><b>Producto</b></th>
                                            <th style="text-align: center;"><b>Precio</b></th>
                                            <th style="text-align: center;"><b>Cantidad</b></th>
                                            <th style="text-align: center;"><b>Subtotal</b></th>
                                        </tr>

                                        {% for req in pedido.requerimientos.all %}
                                            <tr>
                                                <td><b>{{req.producto.codigo}}</b></td>
                                                <td><b>{{req.producto.nombre}}</b></td>
                                                
                                                <td style="text-align: center;">
                                                    <input type="hidden"
                                                        name="requerimiento-{{forloop.counter0}}-id"
                                                        id="id_requerimiento-{{forloop.counter0}}-id"
                                                        value="{{req.producto.id}}"
                                                    >
                                                    <input type="number" 
                                                        name="requerimiento-{{forloop.counter0}}-precio"
                                                        id="id_requerimiento-{{forloop.counter0}}-precio"
                                                        oninput="calcular({{forloop.counter0}})"
                                                        value="{{req.producto.costo|stringformat:".2f"}}"
                                                    >
                                                </td>
                                                
                                                <td style="text-align: center;">
                                                    <input type="number" 
                                                        name="requerimiento-{{forloop.counter0}}-cantidad" 
                                                        id="id_requerimiento-{{forloop.counter0}}-cantidad"
                                                        oninput="calcular({{forloop.counter0}})"
                                                        value="{{req.cantidad}}"
                                                    >
                                                </td>
                                                
                                                <td style="text-align: center;">
                                                    <b>
                                                        <input type="number" 
                                                            name="requerimiento-{{forloop.counter0}}-subtotal"
                                                            id="id_requerimiento-{{forloop.counter0}}-subtotal"
                                                            class="input_bloqueado"
                                                            value="{{req.total|stringformat:".2f"}}"
                                                            readonly
                                                        >
                                                    <b>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                        <tr></tr>
                                        <tr>
                                            <td colspan="4" style="text-align: right;"><b>Total:<b></td>
                                            <td style="text-align: center;">
                                                <b>
                                                    <input type="number" 
                                                        name="pedido_total"
                                                        id="id_pedido_total"
                                                        class="input_bloqueado"
                                                        value="{{pedido.total|stringformat:".2f"}}"
                                                        readonly
                                                    >
                                                </b>
                                            </td>
                                        </tr>
                                    </table>
                                    <br>
                                    <div class="row spacer">
                                        <!-- El primer boton invisible evita que avancen con ENTER -->
                                        <button type=submit onclick="return false;" style="display:none;"></button>
                                        <div class="col-md-3"></div>
                                        <div class="col-md-2">
                                            <button type="submit" name="guardar" class="btn btn-block btn-primary boton_factura">Modificar</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" name="recibir" class="btn btn-block btn-primary boton_factura">Recibir</button>
                                        </div>
                                        <div class="col-md-2">
                                            <button type="submit" name="pagar" class="btn btn-block btn-primary boton_factura">Pagar</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>

    <script>
        var items = {{pedido.requerimientos.all|length}}
        function calcular(id) {
                //calculamos precio
                var precio = document.getElementById('id_requerimiento-'+id+'-precio').value;
                var cantidad = document.getElementById('id_requerimiento-'+id+'-cantidad').value;
                var subtotal = precio * cantidad
                document.getElementById('id_requerimiento-'+id+'-subtotal').value = subtotal;
                //Recalculamos total
                var total = 0;
                for (item = 0; item < items; item++) {
                    total += document.getElementById('id_requerimiento-'+item+'-precio').value * document.getElementById('id_requerimiento-'+item+'-cantidad').value;
                }
                document.getElementById('id_pedido_total').value = total;
            }
    </script>
{% endblock %}