{% extends 'base/base.html' %}
{% block content %}
    <p>Estas son las URL Disponibles:</p>
    <ul>
        {% for modelo in modelos %}
            <li><a href="/georef/ws/{{modelo}}">{{modelo}}</a></li>
        {% endfor %}
    </ul>    
{% endblock %}