{% extends 'base/base.html' %}

{% block content %}
    <h1>Podes contactarnos:</h1>
    <hr>
    <div class="contacto container">
        <div class="row">
            <div class="col-sm-6">
                <ol>
                    <li><b>Email:</b> <a href="nauticosantotome@gmail.com">nauticosantotome@gmail.com</a></li>
                    <li><b>Dirección:</b>Remedios de Escalada de San Martín, Santo Tomé, Santa Fe</li>
                    <li><b>Telefonico:</b>
                        <ul>
                            <li>Telefono: +54 342 4748955</li>
                        </ul>
                    </li>
                </ol>
            </div>

            <div class="col-sm-6">
                <iframe width="700" height="400" id="gmap_canvas" 
                    src="https://maps.google.com/maps?q=Club%20Nautico%20Santo%20Tome&t=&z=15&ie=UTF8&iwloc=&output=embed"
                    frameborder="0" scrolling="no" marginheight="0" marginwidth="0">
                </iframe>
            </div>
        </div>
    </div>
    <hr>
{% endblock %}