{% extends 'base/base.html' %}
{% load static %}

{% block content %}
    {% if faqs %}
        <div class="quees">
            <div class="seccion-preguntas-frecuentes">
                <ul class="preguntas-frecuentes">
                    {% for faq in faqs %}
                    <li>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#{{ forloop.counter0 }}" aria-expanded="false" aria-controls="collapseExample">
                        {{ faq.pregunta }}
                        </button>
                        <div id="{{ forloop.counter0 }}" class="collapse">{{ faq.respuesta | safe }}</div>
                    </li>
                    {% endfor %}
                    <li>
                        <a href="/socios/inscribite">
                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#99" aria-expanded="false" aria-controls="collapseExample">
                                Hacete Socio de nuestro Club
                            </button>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <br>
    {% else %}
        <div class="aviso_faltadata">
            <h2>No se han cargado preguntas frecuentes</h2>
            <p>Por favor comience a agregar contenido <a href="/admin/core/faq/">aqui</a></p>
        </div>
    {% endif %}
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static 'js/faqs.js' %}"></script>
{% endblock %}