{% extends 'base/base.html' %}
{% load static %}
{% block content %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <!-- Noticias -->
            <div class="col-md-8">
                {% include "carousel.html" %}
            </div>
            <!-- Botones -->
            <div class="col-md-4">
                <br>
                <div class="main_inscripcion">
                    <a href="/faq">
                        <div class="bttn_inscribite">
                            <h3>
                                Conocenos
                                <img src="{% static 'img/icons/book.png' %}">
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="main_inscripcion">
                    <a href="/socios/inscribite">
                        <div class="bttn_inscribite">
                            <h3>
                                Hacete Socio
                                <img src="{% static 'img/icons/nuevosocio.png' %}">
                            </h3>
                        </div>
                    </a>
                </div>
                <div class="main_inscripcion">
                    <a href="/socios/pago">
                        <div class="bttn_inscribite">
                            <h3>
                                Informar Pago
                                <img src="{% static 'img/icons/factura.png' %}">
                            </h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}