{% extends 'base_socios.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-10">
                        <h1>Las cuotas adeudadas actualmente son:</h1>
                        <table class="deudores">
                            <tr>
                                <th>N° Socio</th>
                                <th>Apellido y Nombre</th>
                                <th>Cuota</th>
                                <th>Importe Adeudado</th>
                                <th>Estado</th>
                                <th>Link al Pago</th>
                            <tr>
                            {% for cuota in cuotas %}
                                <tr>
                                    <td>{{cuota.socio.num_socio}}</td>
                                    <td>{{cuota.socio.apellidos}}, {{cuota.socio.nombres}}</td>
                                    <td>{{cuota.mes_cuota}}/{{cuota.ano_cuota}}</td>
                                    <td>${{cuota.valor}}</td>
                                    <td>{{cuota.estado}}</td>
                                    <td><a href="/admin/socios/cuota/{{cuota.id}}" target="_blank">Verificar</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}