{% extends 'base_socios.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Cuotas Previamente Generadas:</h1>
                    <p><b>Se han encontrado Cuotas Generadas en ese periodo.<b></p>
                    <div class="col-md-6">
                        <p><b>Periodo:</b> {{periodo}}</p>
                        <p><b>Cantidad de Cuotas:<b> {{count}}</p>
                        <br>
                        <div class="row">
                            <p>Desea eliminar las mismas y volver a Generarlas</p>
                            <br>
                            <div class="col-md-6">
                                <a href="/socios/delete_cuotas/{{periodo}}" class="boton">Si</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/socios/" class="boton">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}