{% extends 'base_socios.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container informacion_basica">
                <div class="row">        
                    <div class="col-md-12">
                        <h1>FACTURACION</h1>
                        <div class="row"> 
                            <div class="col-md-3">
                                <h2>Ingresos:</h2>
                                <p>${{ingresos}}</p>
                            </div>
                            <div class="col-md-8">
                                <table class="deudores">
                                    <tr>
                                        <th>N° Socio</th>
                                        <th>Apellido y Nombre</th>
                                        <th>Cuota</th>
                                        <th>Importe</th>
                                    <tr>
                                    {% for cuota in cuotas_pagadas %}
                                        <tr>
                                            <td>{{cuota.socio.num_socio}}</td>
                                            <td>{{cuota.socio.apellidos}}, {{cuota.socio.nombres}}</td>
                                            <td>{{cuota.mes_cuota}}/{{cuota.ano_cuota}}</td>
                                            <td>{%if cuota.parcial %}<b>(Pago Parcial)</b>{% endif %} ${{cuota.valor}}</td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-md-3">
                                <h2>Adeudado:</h2>
                                <p>${{adeudado}}</p>
                            </div>
                            <div class="col-md-8">
                                <table class="deudores">
                                    <tr>
                                        <th>N° Socio</th>
                                        <th>Apellido y Nombre</th>
                                        <th>Cuota</th>
                                        <th>Importe Adeudado</th>
                                    <tr>
                                    {% for cuota in cuotas_adeudadas %}
                                        <tr>
                                            <td>{{cuota.socio.num_socio}}</td>
                                            <td>{{cuota.socio.apellidos}}, {{cuota.socio.nombres}}</td>
                                            <td>{{cuota.mes_cuota}}/{{cuota.ano_cuota}}</td>
                                            <td>
                                                {%if cuota.parcial %}
                                                    <b>(Pago Parcial)</b>
                                                {% endif %}
                                                ${{cuota.valor}}
                                                {%if cuota.sin_verificar %}
                                                    <a href="/admin/socios/cuota/{{cuota.id}}" target="_blank">(Esperando Aprobacion)</a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}