{% block content %}
    <p style="margin-bottom:-10px;">Buscar Socios</p>
    {% include 'extras/buscador.html' %}
    {% if periodos %}
        <h3><b>Cuotas Generadas:</b></h3>
        <ul>
            {% for periodo in periodos %}
                <li><a href="/socios/ver_cuotas/{{periodo.0}}/{{periodo.1}}">Cuotas {{periodo.1}}/{{periodo.0}}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aun no se han generado cuotas para ningun periodo.</p>
    {% endif %}
{% endblock %}