{% extends 'base_socios.html' %}


{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <div class="col-md-10">
                        <h1>Socios Encontrados:</h1>
                        <table class="deudores">
                            <tr>
                                <th>N° Socio</th>
                                <th>Apellido y Nombre</th>
                                <th>Tipo Socio</th>
                                <th>telefono</th>
                                <th>Resumen</th>
                            <tr>
                            {% for socio in socios %}
                                <tr>
                                    <td>{{socio.num_socio}}</td>
                                    <td>{{socio.apellidos}}, {{socio.nombres}}</td>
                                    <td>{{socio.tipo_socio}}</td>
                                    <td>
                                        {% for telefono in socio.telefonos_socio.all %}
                                            {{telefono}}
                                        {% endfor %}
                                    </td>
                                    <td><a href="/socios/{{socio.id}}" target="_blank">Ver</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}