{% extends 'base_socios.html' %}

{% block content %}
    <section class="inscripcion">
        <section class="inscripcion-container" style="margin-top:25px; padding:25px;">
            <h1>{{titulo}}</h1>
            <p>{{mensaje}}</p>
        </section>
    </section>
{% endblock %}