{% extends 'base_socios.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu de Socios:</h1>
                    <div class="col-md-8">
                        <ul class="menu_botones">
                            <li><a href="/socios/buscar">Resumen de Socio</a></li>
                            <li><a href="/socios/generar_cuotas">Generar Cuotas</a></li>
                            <li><a href="/socios/deudores">Informe Deudores</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        {% include "info_derecha_socios.html" %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}