{% extends 'base_socios.html' %}


{% block content %}
  <section class="resumen">
    <section class="informacion_basica">
        <h1>Informacion del Socio</h1>
        <div class="container informacion_basica">
            <div class="row">        
                <div class="col-md-4 foto">
                    <img src="{{socio.fotografia.url}}">
                </div>
                <div class="col-md-8 informacion">
                    <a href="/socios/tarjeta/{{socio.id}}"><p style="float:right;">Imprimir Tarjeta</p></a>
                    <h2>
                        {{socio.apellidos}}, {{socio.nombres}}
                        <a target="_blank" href="/admin/socios/socio/{{socio.id}}">
                            <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                        </a>
                    </h2>

                    <h3><b>Socio: {{socio.num_socio}}</b> (Desde: {{socio.fecha_inscripcion}})</h3>
                    <p><b>Tipo:</b> {{socio.tipo_socio.nombre}} - <b>Estado:</b> {{socio.estado}}</p>
                    <p><b>Documento:</b> {{socio.get_tipo_doc_display}} {{socio.num_doc}}</p>
                    <p><b>Fecha de Nacimiento:</b> {{socio.fecha_nacimiento}}</p>
                    {% for domicilio in socio.domicilios_socio.all %}
                        <p>
                            <b>Domicilio:</b>
                            {{domicilio.calle}}
                            {{domicilio.numero}},
                            {{domicilio.localidad.nombre}}
                        </p>
                    {% endfor %}
                    {% for telefono in socio.telefonos_socio.all %}
                        <p>
                            <b>Telefono:</b>
                            {{telefono.prefijo}} -
                            {{telefono.cod_area}} -
                            {{telefono.telefono}}
                        </p>
                    {% endfor %}
                    <p><b>Email:</b> {{socio.email}}</p>
                    {% if socio.embarcaciones.all %}
                        <br>
                        <h4>Embarcacion</h4>
                        {% for embarcacion in socio.embarcaciones.all %}
                            <p>
                                <b>{{embarcacion.casco_marca}} {{embarcacion.casco_modelo}}<b>, {{embarcacion.motor_marca}} {{embarcacion.motor_potencia}} ({{embarcacion.tipo_alojamiento.nombre}})
                                <a target="_blank" href="/admin/socios/embarcacion/{{embarcacion.id}}">
                                    <img src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                                </a>
                            </p>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
    </section>
    <br>
    <section class="resumen_pago">
        <h1>Historial de Pagos</h1>
        <div class="container">
            <div class="row">
                    {% for cuota in socio.cuotas.all %}
                        <div class="col-md-5 pago
                            {% if cuota.pagada.0 %}
                                pagada
                            {% else %}
                                adeuda
                            {% endif %}
                        ">
                            <div class="col-md-12">
                                <p><b>CUOTA:</b> {{cuota.mes_cuota}}/{{cuota.ano_cuota}}</p>
                                <p>
                                    <b>Valor:</b> 
                                    ${{cuota.valor}}
                                    <b>
                                        {% if cuota.pagada.0 %}
                                            (Pagada)
                                        {% else %}
                                            (Adeuda)
                                        {% endif %}
                                    </b>
                                </p>
                                <p>{{cuota.descripcion}}</p>
                                <hr>
                                {% for pago in cuota.pagos.all %}
                                    <div class="col-md-6">
                                        <p><b>Forma de Pago:</b>{{pago.tipo_pago.nombre}}</p>
                                        <p><b>Fecha del Pago:</b>{{pago.fecha_pago}}</p>
                                        <p><b>Monto:</b>{{pago.monto_pagado}}</p>
                                    </div>
                                    <div class="col-md-4">
                                        {% if pago.comprobante %}
                                            <a href="{{pago.comprobante.url}}" target="_blank"><img src="{{pago.comprobante.url}}"></a>
                                        {% endif %}
                                    </div>
                                    <div class="col-md-12">
                                        <a href="/admin/socios/cuota/{{cuota.id}}" target="_blank">
                                            <p><b>Estado:</b>{% if pago.aprobado %}Aprobado{%else%}En Verificacion{%endif%}</p>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>

                        </div>
                    {% endfor %}
            </div>
        </div>
    </section>
</section>
{% endblock %}