<!DOCTYPE html>
<html lang="en">
    {% include "base/head.html" %}
    {% load static %}
    {% block custom_head %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/socios.css' %}" />
    {% endblock %}
    <body id="body">
        <section class="resumen">
            <section class="informacion_basica">
                <div class="container informacion_basica tarjeta">
                    <div class="row">        
                        <div class="col-md-4 foto">
                            <img src="{{socio.fotografia.url}}">
                        </div>
                        <div class="col-md-8 informacion">
                            <h2>{{socio.apellidos}}, {{socio.nombres}}</h2>
                            <h3><b>Socio: {{socio.num_socio}}</b> (Desde: {{socio.fecha_inscripcion}})</h3>
                            <p><b>Estado:</b> {{socio.get_estado_display}} - <b>Tipo:</b> {{socio.tipo_socio.nombre}}</p>
                            <p><b>Documento:</b> {{socio.get_tipo_doc_display}} {{socio.num_doc}}</p>
                            <p><b>Fecha de Nacimiento:</b> {{socio.fecha_nacimiento}}</p>
                            {% for domicilio in socio.domicilios_socio.all %}
                                <p>
                                    <b>Domicilio:</b>
                                    {{domicilio.calle}}
                                    {{domicilio.numero}},
                                    {{domicilio.localidad.nombre}}
                                </p>
                            {% endfor %}
                            {% for telefono in socio.telefonos_socio.all %}
                                <p>
                                    <b>Telefono:</b>
                                    {{telefono.prefijo}} -
                                    {{telefono.cod_area}} -
                                    {{telefono.telefono}}
                                </p>
                            {% endfor %}
                            <p><b>Email:</b> {{socio.email}}</p>
                        </div>
                    </div>
                </div>    
            </section>
        </section>
    </body>
</html>