{% load static %}
{% block content %}
      <footer>
        <div class="social">
          <a href="https://www.facebook.com/nautico.santotome" target="_blank">
            <span class="icon icon-facebook"></span>
          </a>
<!--
          <a href="https://twitter.com/">
            <span class="icon icon-twitter"></span>
          </a>
          <a href="https://www.youtube.com/">
            <span class="icon icon-youtube"></span>
          </a>
          <a href="https://www.instagram.com/">
            <span class="icon icon-instagram"></span>
          </a>
-->
        </div>
        
        <div class="row">
          <div class="col-md-2">
            <a href="https://www.santafe.gov.ar/" target="_blank">
                <img src="{% static 'img/logo_santafe.png' %}" class="logo"/>
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.santotome.gob.ar/" target="_blank">
                <img src="{% static 'img/logo_santotome.png' %}" class="logo"/>
            </a>
          </div>
          <div class="col-md-2">
            <a href="https://www.loteriasantafe.gov.ar/" target="_blank">
                <img src="{% static 'img/logo_loteria.png' %}" class="logo"/>
            </a>
          </div>
          <div class="col-md-2 mware" style="float:right;">
            <a href="http://mware.com.ar" target="_blank">
                <img src="{% static 'img/logo_mware.png' %}" class="logo-footer"/>
            </a>
          </div>
        </div>
      </footer>
{% endblock %}