{% load static %}
{% block content %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Club Nautico Santo Tome{% endblock %}</title>
    <link rel="icon" href="{% static 'img/favicon.ico' %}">
    <!--Todos los Css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/screens.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/constantes.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/footer.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/menu_botones.css' %}" />
{% endblock %}