{% load menu_tags %}

{% block content %}
    <li><a href="/">Inicio</a></li>
    <li><a href="/noticias/">Noticias</a></li>
    <li><a href="/calendario/">Eventos</a>
        {% if eventos %}
            <ul class="submenu">
                {% for evento in eventos %}
                    <li>
                        <a href="/calendario/{{evento.id}}">
                            [{{evento.tipo.nombre}}}] {{evento.nombre}}
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <span class="triangle glyphicon glyphicon-triangle-bottom"></span>
        {% endif %}
    </li>
    <li><a href="/faq/">¿Que es Club Nautico Santo Tome?</a></li>
    <li><a href="/contacto/">Contacto</a></li>
    {% if user.is_staff %}
        <li>
            <a href="/admin">Admin</a>
            <ul class="submenu">
                {% ct_opciones request.user as opciones %}
                {% for opcion in opciones %}
                    <li><a href="/{{opcion.1}}">{{opcion.0}}</a></li>
                {% endfor %}
                <li><a href="/ws">Web Services</a></li>
                <li><a href="/admin/logout">Cerrar Sesion</a></li>
            </ul>
            <span class="triangle glyphicon glyphicon-triangle-bottom"></span>
        </li>
    {% else %}
        <li><a href="/admin">Ingresar</a></li>
    {% endif %}
{% endblock %}