{% extends 'base/base.html' %}

{% load static %}
{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organigrama.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/popup.css' %}" />
{% endblock %}

{% block content %}

{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="{% static 'js/popups.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tabs.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/hide_show.js' %}"></script>

    <script>
        big_div = document.getElementById("li-{{origen.id}}");
        document.body.style.width = (big_div.offsetWidth + 200) + 'px';
        setTimeout(function () {
            window.scrollTo((big_div.offsetWidth / 2) - 900, 0);
        }, 200);
    </script>
{% endblock %}