{% load static %}

{% block content %}
    <div class="institucional_titulo">
        <div class="institucional_titulo_texto">
            <h2><a href='/{{unidad.id}}'>{{ unidad.nombre }}</a></h2>
        </div>
        {% if editable %}
            <div class="institucional_titulo_icons no-print">
                <a class="clean" target="_blank" href="/admin/organigrama/unidad/{{ unidad.id }}/change/">
                    <img src="{% static 'img/edit_icon.png' %}" alt="(Edit)" class="icono">
                </a>
                <br>
                <a class="clean" target="_blank" href="/crear_hijo/{{ unidad.id }}">
                    <img src="{% static 'img/add_icon.svg' %}" alt="(Edit)" class="icono">
                </a>
            </div>
        {% endif %}
    </div>
    <div class="institucional_info">
        <h3> Informacion Util:</h3>
        <div id="unid_{{unidad.id}}_desc" style="display:none;">{{ unidad.descripcion|safe }}</div>
        {% if unidad.direccion %}<p><b>Direccion:</b> {{ unidad.direccion }}</p>{% endif %}
        {% if unidad.telefonos %}<p><b>Telefonos:</b> {{ unidad.telefonos }}</p>{% endif %}
        {% if unidad.web %}<a class="clean no-print" target="_blank" href="{{ unidad.web }}"><b>Pagina Web</b></a>{% endif %}
        {% if unidad.descripcion %}<button onclick="hide_show('unid_{{unidad.id}}_desc')" class="btn_descripcion no-print">(Ver Descripcion)</button>{% endif %}
    </div>
{% endblock %}