{% block content %}
    <div id="{{unidad.id}}" class="popup">
        <a class="unidad">{{ unidad.nombre }}</a>
        <div class="popuptext">
            <div class="tab">
                <button class="tablinks" onclick="openTab(event, 'Unidad-{{unidad.id}}')">Unidad</button>
                {% if unidad.empleados_activos %}
                    <button class="tablinks" onclick="openTab(event, 'Empleados-{{unidad.id}}')">Empleados</button>
                {% endif %}
                {% if user.is_staff %}
                    <button class="tablinks" onclick="openTab(event, 'Admin-{{unidad.id}}')">Administracion</button>
                {% endif %}
            </div>

            <div id="Unidad-{{unidad.id}}" class="tabcontent">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-4">
                            {% if unidad.icono %} 
                                <img class="img_logo" src="{{ unidad.icono.url }}">
                            {% else %}
                                <img class="img_logo" src="/static/img/nologo.png">
                            {% endif %}
                        </div>
                        <div class="col-sm-8">
                            <div class="clean">
                                <h2 class="nombre_unidad">
                                    <a href='/organigrama/{{unidad.id}}'>
                                        {{ unidad.nombre }}
                                        <img class="img_link" src="/static/img/icons/link.png" alt="ver SubUnidad">
                                    </a>
                                </h2>
                                {{ unidad.descripcion|safe }}

                                <h3> Informacion Util:</h3>
                                <p><b>Direccion:</b> {{ unidad.direccion }}</p>
                                <p><b>Telefonos:</b> {{ unidad.telefonos }}</p>
                                <a class="clean" target="_blank" href="{{ unidad.web }}"><b>Pagina Web</b></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            {% if unidad.empleados_activos %}
                <div id="Empleados-{{unidad.id}}" class="tabcontent" style="display: none;">
                    <h2>Empleados</h2>
                    <div class="empleados" style="width: 100%">
                        
                        {% include "info_empleado.html" with empleados=unidad.empleados_activos %}
                    </div>
                </div>
            {% endif %}
            
            {% if user.is_staff %}
                <div id="Admin-{{unidad.id}}" class="tabcontent" style="display: none;">
                    <p class="clean">Modificar Unidad</p>
                        <a class="clean" target="_blank" href="/admin/organigrama/unidad/{{ unidad.id }}/change/">
                            <img class="img_icon" src="/static/admin/img/icon-changelink.svg" alt="Modificar">
                        </a>
                    </p>
                    <p class="clean">Crear SubUnidad</p>
                        <a class="clean" target="_blank" href="/organigrama/crear_hijo/{{ unidad.id }}">
                            <img class="img_icon" src="/static/admin/img/icon-addlink.svg" alt="Agregar SubUnidad">
                        </a>
                    </p>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}