{% block content %}
    <li id="li-{{unidad.id}}">
        {% include "mostrar_unidad.html" with unidad=unidad %}
        {% if unidad.hijos.exists %}
            <ul>
                {% for unid_hijo in unidad.hijos.all %}
                    {% include "nodo_arbol.html" with unidad=unid_hijo %}
                {% endfor %}
            </ul>
        {% endif %}
    </li>
{% endblock %}