{% block content %}
    <li id="li-{{unidad.id}}">
        {% include "mostrar_unidad.html" with unidad=unidad %}

        {% if unidad.hijos.exists %}
            {% ifnotequal max_child count  %}
                <ul>
                    {% for unid_hijo in unidad.hijos.all %}
                        {% include "nodo_arbol_limit.html" with unidad=unid_hijo max_child=max_child count=count|add:1 %}
                    {% endfor %}
                </ul>
            {% endifnotequal %}
        {% endif %}
    </li>
{% endblock %}