{% extends 'base_organigrama.html' %}

{% block content %}
    <div class="popup-overlay"></div>
    <div class="organigrama">
        <ul>
            {% include "nodo_arbol.html" with unidad=origen %}
        </ul>
    </div>
{% endblock %}