{% extends 'base_organigrama.html' %}

{% block content %}
    <div class="popup-overlay"></div>
    <div class="organigrama">
        <ul>
            {% include "nodo_arbol_limit.html" with unidad=origen max_child=max_child count=0 %}
        </ul>
    </div>
{% endblock %}