{% block content %}
    <br>
    <form method="post" action="buscador" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="text" name="buscar" required="" id="id_buscar">
        <button type="submit">Buscar</button>
    </form>
    <hr>
{% endblock %}