{% extends 'base/base.html' %}
{% load form_tags %}

{% block custom_head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/generic_form.css' %}" />
{% endblock %}

{% block content %}
    <section class="formulario">
        <section class="formulario-container">
            <h2>{{titulo}}</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% for field in form %}
                    {% abrir_alineado form field as abrir %}<!-- custom:form_tags -->
                    {% if abrir %}
                        <div class="container">
                            <div class="row">
                    {% endif %}
                        
                    {% calcular_ancho form field as ancho %}<!-- custom:form_tags -->
                    <div class="col-sm-{{ancho}} no-padding">
                        {% if not field.name in form.nolabel %}<!-- se instancia en el init del form -->
                            {{ field.label_tag }}
                        {% endif %}
                        {{ field }}
                        {% for error in field.errors %}
                            <p style="color:black">{{ error }}</p>
                        {% endfor %}
                    
                    </div>

                    {% cerrar_alineado form field as cerrar %}<!-- custom:form_tags -->
                    {% if cerrar %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                <button type="submit">{{boton}}</button>
            </form>
        </section>
    </section>
{% endblock %}