{% block content %}
    <div class="centrado">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="input-group">
                <label for="id_csvfile">Archivo CSV:</label><br>
                <input type="file" name="csvfile" accept=".csv" id="csvfile" required>
            </div>
            <button style="margin-top:15px;" type="submit">Cargar</button>
        </form>
    </div>
{% endblock %}