{% block content %}
    <div id="piechart" style="width: 900px; height: 500px; margin-top: -100px;"></div>
{% endblock %}

{% block custom_script %}
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Tipo', 'Monto'],
            {% for detalle in detalles %}
                ['{{detalle.get_tipo_display}}', {{detalle.monto|floatformat:"0"}}],
            {% endfor %}
        ]);

        var options = {
          title: 'Detalle'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
{% endblock %}
