{% extends 'base_finanzas.html' %}
{% load humanize %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">        
                <div class="row">
                    <h1>Cierre del Periodo:</h1>
                    <h3><b>Periodo:</b> {{begda|date:'m/Y'}}</h3>
                </div>
                <br>
                <div class="row">
                    <h3>Detalles del cierre:</h3>
                    
                    <div class="col-md-7">
                        <table class="listado">
                            <tr>
                                <th>Tipo</td>
                                <th>Monto</td>
                            </tr>
                            {% for detalle in cierre.detalles.all %}
                                <tr>
                                    <td>{{detalle.get_tipo_display}}</td>
                                    <td>${{detalle.monto}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-5">
                        {% include 'graficos/cierre_torta.html' with detalles=cierre.detalles.all %}
                    </div>
                </div>
                <br>
                <div class="row">
                    <h3>Asientos para el siguiente mes creados:</h3>
                    <div class="col-md-3"></div>
                    <div class="col-md-7">
                        <table class="listado">
                            <tr>
                                <th>Tipo</td>
                                <th>Monto</td>
                            </tr>
                            {% for asiento in asientos %}
                                <tr>
                                    <td>{{asiento.get_tipo_display}}</td>
                                    <td>${{asiento.monto}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}  