{% extends 'base_finanzas.html' %}
{% load humanize %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Detalle de Asientos {{asientos.0.get_tipo_display}}:</h1>
                    <h3><b>Periodo:</b> {{begda|date:'m/Y'}}</h3>
                    <div class="col-md-9">
                        <table class="listado">
                            <tr>
                                <th>Origen</td>
                                <th>Tipo</td>
                                <th>Fecha</td>
                                <th>Monto</td>
                                <th>Descripcion</td>
                            </tr>
                            {% for asiento in asientos %}
                                <tr>
                                    <td>{{asiento.origen}}</td>
                                    <td>{{asiento.get_tipo_display}}</td>
                                    <td>{{asiento.fecha}}</td>
                                    <td>${{asiento.monto}}</td>
                                    <td>{{asiento.descripcion}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-3">
                        {% include 'graficos/asientos_torta.html' with asientos=asientos %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}            