{% extends 'base_finanzas.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">
                    <h1>Asientos Previamente Recolectados:</h1>
                    <p><b>Se han encontrado Asientos recolectados en ese periodo.<b></p>
                    <div class="col-md-6">
                        <p><b>Periodo:</b> {{periodo}}</p>
                        <br>
                        <div class="row">
                            <p>Desea eliminar los mismos y volver a Generarlos?</p>
                            <br>
                            <div class="col-md-6">
                                <a href="/finanzas/delete/{{periodo}}" class="boton">Si</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/finanzas/" class="boton">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}