{% extends 'base_finanzas.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <h2>{{titulo}}</h2>
            <div class="col-md-7 formulario">
                <section class="formulario">
                    <section class="formulario-container">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>{{message}}</p>
                            {% for field in form %}
                                {{ field.label_tag }}
                                {{ field }}
                                {% for error in field.errors %}
                                    <p style="color:black">{{ error }}</p>
                                {% endfor %}
                            {% endfor %}
                            <button type="submit">{{boton}}</button>
                        </form>
                    </section>
                </section>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-4">
                {% include "info_derecha_finanzas.html" %}
            </div>
        </div>
    </div>
{% endblock %}