{% block content %}
    {% if recolecciones %}
        <h3><b>Periodos Recolectados:</b></h3>
        <ul>
            {% for recoleccion in recolecciones %}
                <li><a href="/finanzas/recoleccion/{{recoleccion}}">Recoleccion {{recoleccion}}</a></li>
            {% endfor %}
        </ul>
        <p>Recuerde que no puede realizar recolecciones de periodos ya cerrados.</p>    
        <hr>
    {% else %}
        <p>Aun no se ha realizado ninguna recoleccion de datos.</p>
    {% endif %}
    {% if cierres %}
        <h3><b>Cierres Realizados:</b></h3>
        <ul>
            {% for cierre in cierres %}
                <li><a href="/finanzas/cierre/{{cierre.id}}">Cierre {{cierre.mes_cierre}}-{{cierre.ano_cierre}}</a></li>
            {% endfor %}
        </ul>
        <p>Recuerde que no puede realizar recolecciones de periodos ya cerrados.</p>
    {% else %}
        <p>Aun no se ha realizado ningun Cierre.</p>
    {% endif %}
{% endblock %}