{% extends 'base_finanzas.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Menu Financiero:</h1>
                    <div class="col-md-8">
                        {% if reserva %}
                            <ul class="menu_botones">
                                <li><a href="/finanzas/recolectar">Recolectar Asientos Contables</a></li>
                                <li><a href="/finanzas/reporte">Generar Reporte Mensual</a></li>
                                <li><a href="/finanzas/historico">Ver Evolucion Historica</a></li>
                                <li><a href="/finanzas/download">Descargar Asientos Contables</a></li>
                                
                            </ul>
                        {% else %}
                            <p>Se debe Cargar la reserva inicial</p>
                        {% endif %}
                    </div>
                    <div class="col-md-4">
                       {% include "info_derecha_finanzas.html" %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}