{% extends 'base_finanzas.html' %}
{% load humanize %}
{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Reporte Financiero:</h1>
                    <h3><b>Periodo:</b> {{begda|date:'m/Y'}}</h3>
                    <div class="col-md-12">
                        <table class="listado">
                            <tr>
                                <th>Tipo</th>
                                <th>Importe</th>
                                <th>Ver Detalle</th>
                            </tr>
                            {% for key, values in acumulados.items %}
                                {% if values.1 %}
                                    <tr {% if key == 'Resultado' %}class='resultado'{% endif %}>
                                        <td>{{key}}</td>
                                        <td>${{values.1|intcomma}}</td>
                                        <td>{% if key != 'Resultado' %}<a href="/finanzas/detalle/{{values.0}}/{{begda|date:'Y-m-d'}}/{{endda|date:'Y-m-d'}}">(Ver Detalle)</a>{% endif %}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </table>
                        <br>
                        <div class="col-md-3"></div>
                        <div class="col-md-6">              
                            <p><b>Desea guardar el resultado para cerrar el periodo presentado?</b></p>
                            <br>
                            <div class="col-md-6">
                                <a href="/finanzas/cerrar/{{begda|date:'Y-m-d'}}/{{endda|date:'Y-m-d'}}" class="boton">Si</a>
                            </div>
                            <div class="col-md-6">
                                <a href="/finanzas/" class="boton">No</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}