{% extends 'base_finanzas.html' %}

{% block content %}
    <section class="resumen">
        <section class="informacion_basica">
            <div class="container">
                <div class="row">        
                    <h1>Asientos Recolectados:</h1>
                    <div class="col-md-9">
                        <p><b>Cantidad de Asientos Guardados:</b> {{movimientos|length}}</p>
                        <br>
                        <table class="listado">
                            <tr>
                                <th>Origen</td>
                                <th>Tipo</td>
                                <th>Fecha</td>
                                <th>Monto</td>
                                <th>Descripcion</td>
                            </tr>
                            {% for movimiento in movimientos %}
                                <tr>
                                    <td>{{movimiento.origen}}</td>
                                    <td>{{movimiento.get_tipo_display}}</td>
                                    <td>{{movimiento.fecha}}</td>
                                    <td>${{movimiento.monto}}</td>
                                    <td>{{movimiento.descripcion}}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </div>
                    <div class="col-md-3">
                        {% include 'graficos/asientos_torta.html' with asientos=movimientos %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}