{% extends 'base_organigrama.html' %}


{% load static %}
{% block custom_head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/organigrama_lista.css' %}" />
{% endblock %}

{% block content %}
        <div class="listado">
            {% include "lista/nodo_lista.html" with unidad=origen %}
        </div>
{% endblock %}

{% block custom_script %}
    <script>
        function Imprimir() {
            window.print();
        }
    </script>
{% endblock %}
