{% load static %}

{% block content %}
    {% if unidad.activo and unidad.visible %}
        <div class="unidad" style="background-image: linear-gradient(to bottom right, {{unidad.color}} , white);">
            <div class="institucional">
                <p>
                    <b>{{unidad.nombre}}</b>
                </p>
                {% if unidad.direccion %}<p>Direccion: {{unidad.direccion}}</p>{% endif %}
                {% if unidad.telefonos %}<p>Telefonos: {{unidad.telefonos}}</p>{% endif %}
                {% if unidad.web %}<p><a href="{{unidad.web}}">Pagina Web</a></p>{% endif %}
            </div>
            <div class="Empleados">
                {% include "info_empleado.html" with unidad=unidad %}
            </div>
            {% if unidad.hijos.exists %}
                {% for unid_hijo in unidad.hijos.all %}
                    {% include "lista/nodo_lista.html" with unidad=unid_hijo %}
                {% endfor %}
            {% endif %}
        </div>
    {% endif %}
{% endblock %}