{% load static %}

{% block content %}
    {% if unidad.activo and unidad.visible %}
        <li>
            <p><b>{{unidad.nombre}}</b></p>
            {% if unidad.hijos.exists %}
                <ul>
                    {% for unid_hijo in unidad.hijos.all %}
                        {% include "lista/nodo_simple_list.html" with unidad=unid_hijo %}
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endif %}
{% endblock %}