/*CALENDARIO */

.eventos {}

.eventos h1 {
    text-align: center;
    background-color: var(--color_primario);
    color: white;
    font-size: 4em;
    margin: 0;
}

.eventos li {
    list-style-type: none;
    width: 80%;
    border-radius: 10px;
    overflow: hidden;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
}

.eventos .foto {
    float: left;
    width: 15%;
}

.eventos .foto img {
    min-width: 90%;
    max-width: 90%;
}

.eventos .info {
    text-align: left;
    float: right;
    width: 70%;
}

.evento .info {
    text-align: left;
    float: right;
    width: 70%;
    font-size: 20px;
}

.evento .foto {
    float: left;
    width: 25%;
}

.evento .foto img {
    min-width: 90%;
    max-width: 90%;
}