/* FACTURA */
p.factura{
    margin-bottom: 2px!important;
}

p.factura>label {
    width: 150px;
}

.detalle {
    border-collapse: collapse;
    width: 100%;
}

.factura label{
    width: 35% !important;
}

.detalle td, th {
    border: 1px solid #dddddd;
    text-align: left;
  }

.detalle th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.detalle tr:nth-child(even) {
    background-color: #dddddd;
}

.input_bloqueado {
    background-color: rgb(175, 175, 175);
}

.boton_factura {
    color: #fff;
    background-color: var(--color_primario);
    border-color: var(--color_oscuro);
}
/* Inventario */
.inventario {
    width: 100%;
    border-collapse: collapse;
}

.inventario td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.inventario th{
    background-color: #463f3f;
    color: white;
    text-align: center;
}

.inventario tr:nth-child(even) {
    background-color: #dddddd;
}

.inventario .alerta {
    background-color: #cc8282 !important;
    color: black !important;
}
/* generic form */
.factura input{
    text-align: center;
    width: 100%;
}