/* Finanzas */
.resultado {
      font-weight: bold;
      background-color: black !important;
      color: white;
  }

/* Listado */
.listado {
    width: 100%;
    border-collapse: collapse;
}

.listado td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

.listado th{
    background-color: var(--color_claro);
    color: white;
    text-align: center;
}

.listado tr:nth-child(even) {
    background-color: #dddddd;
}

.formulario {
    background: var(--color_primario);
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
    padding: 25px;
    text-align: center;
    font-weight: normal;
}

.formulario label {
    color: white;
    font-weight: initial!important;
}