/* inscripcion */
section.formulario {
    width: 100%;
    height: 100%;
    height: calc(70vh - 100px);
    padding-top: 1em;
    background-size: cover;
    display: table;
}

section.formulario .formulario-container {
    background: rgb(36, 165, 105);
    max-width: 600px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    padding-bottom: 5px;
    z-index: 1;
    color: rgb(7, 7, 7);
}

section.formulario .formulario-container h2 {
    color: white;
    background: rgb(36, 165, 105);
    padding: 10px;
    text-align: center;
    font-size: 1.5em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 0!important;
}

section.formulario .input-group {
    text-align: center;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    margin-top: 15px;
}

section.formulario .input-group>label[for="id_categoria"] {
    position: absolute;
    display: none;
}

section.formulario .input-group>input {
    width: 80%;
    padding-left: 10%;
}

section.formulario button {
    color: white;
    background: rgb(23, 122, 76);
    border: none;
    margin: auto;
    font-size: 1.1em;
    padding: 7px 20px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
    border-radius: 5px;
}

section.formulario a.signup {
    color: #ddd;
    display: block;
    text-align: center;
    padding-bottom: 15px;
    padding-top: 7px;
}

section.formulario a.signup:hover,
section.formulario button:hover {
    opacity: 0.9;
    text-decoration: none;
}

.formulario-overlay {
    background: #00000075;
    display: block;
    width: 100%;
    height: calc(100vh - 60px);
    z-index: 0;
    position: absolute;
    top: 60px;
}

.formulario-overlay-ignore {
    z-index: 1;
    position: absolute;
    width: 100%;
}

section.formulario .respuesta-container {
    background: #c3ccd1;
    max-width: 500px;
    margin: auto;
    border-radius: 10px;
    padding: 0;
    z-index: 1;
    color: rgb(7, 7, 7);
}

.formulario label{
    width: 45%;
    margin-left: 5%;
    font-size: 1.2em;
    margin-bottom: 15px;
    color: white;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;   
}

.formulario label.alinear{
    width: 25%;
}

.formulario input, select {
    margin-right: 5%;
    margin-bottom: 15px;
}

.formulario select {
    max-width: 45%;
}

.formulario select.alinear {
    width: 15%!important;
    white-space: nowrap;
}

.formulario input[type=file] {
    padding-right: 25%!important;
    width: 50%;
}

.no-padding {
    padding: 0!important;
}