.menu_botones li {
    width: 50%;
    list-style-type:none;
    text-align: center;
    margin: 10px;
    background: var(--color_primario);
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 14px;
    padding: 12px 12px;
    cursor: pointer;   
  }

.menu_botones a {
      color: white;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }

.boton {
    color: rgb(0, 0, 0);
    text-align: center;
    margin: 10px;
    background: var(--color_primario);
    border-radius: 4px;
    font-family: "arial-black";
    font-size: 14px;
    padding: 12px 12px;
    cursor: pointer;   
  }