/* Popup container */
.popup {
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;

    border-radius: 6px;
    color: #333;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 15px #0000005c;
    overflow-x: auto;

    width: auto!important;
    max-height: 70vh;
    
    z-index: 2;
    position: fixed;
    top: 80px;
    left: calc(50% - 100px);
    
    padding: 20px;
    margin-left: -10%;

    text-align: left;
    line-height: 1.3;
    font-size: 0.9em;
}

.popuptext .img_logo
{
    max-width: 90%;
    margin: auto;
    display: block;
    margin-bottom: 15px;
}

.popuptext .img_icon {
    display: inline;
    float: right;
}

.popuptext .img_link {
    display: inline; 
    width: 8%; 
}

.popuptext .clean {
    all: unset;
}

.popuptext .clean:hover {
    all: unset;
    color: rgb(105, 102, 102);
}

.popup .popuptext.active
{
    visibility: visible;
    margin-bottom: 10px;
}

.popup-overlay
{
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: #00000033;
    top: 0px;
    left: 0px;
    z-index: 1;
}

.popup-overlay.active
{
    display: block;
}

/* Popup arrow */
.popup .popuptext::after {
    /*content: "";*/
    position: absolute;
    top: -10px;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
}

.nombre_unidad {
    text-align: center;
}

/* Botones */
.tablinks {
    margin-bottom: 20px;
    background-color: var(--color_claro);
    color: white;
    font-weight: bold;
    border-radius: 25px;
    border-color: var(--color-oscuro);
    width: 150px;
    height: 35px;
}