/*BASICOS*/

html {
    min-height: 100%;
    position: relative;
}

body {
    background: url("../img/background.png");
    overflow-x: hidden;
    font-family: Archia;
    padding-top: 70px;
    min-height: 95%;
    margin-bottom: 150px;
}

main {
    margin-top: 0;
}

h1 {
    font-family: Archia;
}

p {
    font-family: Lato-Black;
    font-size: 16px;
}

a:focus,
a:hover {
    text-decoration: none;
}

.container{
    width: 90%!important;
    min-height: 95%;

}

/* Fuentes */
@font-face {
    font-family: Archia;
    font-weight: normal;
    src: url('/static/fonts/Archia-Regular.otf') format('truetype');
    src: local('/static/fonts/Archia-Regular.otf') format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: bold;
    src: url('/static/fonts/Archia-Bold.otf') format('truetype');
    src: local('/static/fonts/Archia-Bold.otf') format('truetype');
 }
  @font-face {
    font-family: Archia;
    font-weight: lighter;
    src: url('/static/fonts/Archia-Thin.otf') format('truetype');
    src: local('/static/fonts/Archia-Thin.otf') format('truetype');
 }

/*Portada*/
.portada {
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    box-shadow: 0 0 30px #1c4d657a;
    overflow: hidden;
    text-align: center;
    width: auto;
    padding-top: 0%;
    padding-bottom: 20px;
}

.portada img {
    width: 60%;
    padding: 10px;
}

.portada>.mobile {
    display: none;
}

/*BEGIN MAIN */

/*INFO*/

.main_info {
    margin-top: 1em;
    margin-bottom: 2em;
}

.main_info_txt {
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

.main_ofrecemos {
    text-align: center;
    vertical-align: middle;
}

.main_ofrecemos>a>div.bttn_ofrecemos {
    min-width: 30%;
    font-size: large;
    display: inline-block;
    color: rgb(0, 0, 0);
    border-radius: 12px;
    border-style: solid;
    border-color: rgb(0, 0, 0);
}

.main_ofrecemos>span {
    width: 100%;
    display: inline-block;
}

/*INSCRIBITE*/
.main_inscripcion {
    text-align: center;
    vertical-align: middle;
}

.main_inscripcion>a>div.bttn_inscribite {
    width: 60%;
    padding: 5px;
    font-size: medium;
    display: inline-block;
    color: black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border-style: solid;
    border-color: black;
}

.main_inscripcion>a h3 {
    margin: 10px;
}

.main_inscripcion>a>div.bttn_inscribite  img {
    max-height:1em;
    float: right;
    padding-right: 15px;
}

.main_inscripcion>a>div.bttn_inscribite h2 {
    margin: 0px;
    display:inline;
}

.main_inscripcion>span {
    width: 100%;
    display: inline-block;
}

/* Falta Data */
div.aviso_faltadata {
    margin-top: 5%;
    margin-bottom: 5%;
    max-width: 50%;
    margin-left: 25%;
}
/* End MAIN */


/* QUE ES */
.quees h1 {
    text-align: center;
    color: #333;
}

.quees .texto-explicativo {
    text-align: center;
    color: #333;
}

.quees .seccion-preguntas-frecuentes {
    max-width: 900px;
    margin: auto;
    padding: 10px 40px;
    box-shadow: 0 0 20px #00000026;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}

.quees .preguntas-frecuentes {
    list-style: none;
    padding-left: 0;
}

.quees .collapse.in {
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: justify;
    padding-left: 15%;
    padding-right: 15%;
}

.quees .btn-primary {
    color: #fff;
    background-color: var(--color_primario);
    border-color: var(--color_primario);
    width: 90%;
    margin-bottom: 10px;
    margin-top: 10px;
    text-align: center;
}
/* FIN QUE ES */

/* Contacto */
.contacto {
    margin-left:0;
    margin-right:0;
}

/* Generic Form */
.centrado {
    width: 60%;
    margin-top: 50px;
    margin-left: 15%;

    padding: 25px;
    border-width: 5px;
    background-color: var(--color_primario);
    border-color: var(--color_oscuro);
    box-shadow: 0 0 20px #00000000;
    border-radius: 15px;
}