{% extends 'base_calendario.html' %}

{% block content %}
    <div class="eventos">
    {% if eventos %}
        <h2> Destacados </h2>
        <hr>
        <ul>
            {% for evento in eventos %}
            <li>
                <div class="foto">
                    <a href="/calendario/{{evento.id}}">
                        <img src="{{ evento.portada.url }}">
                    </a>
                </div>
                <div class="info">
                    <h2>{{ evento.nombre }}</h2> 
                    <p>Fecha: {{ evento.fecha_inicio.date }}, Hora: {{ evento.fecha_inicio|date:"H:i" }} hasta {{ evento.fecha_fin|date:"H:i" }}</p>
                    <p>{{ evento.descripcion|safe }}</p>
                </div>                
            </li>
            {% endfor %}       
        </ul>
    {% else %}
        <div class="aviso_faltadata">
            <h2>No se han cargado eventos en el calendario aun</h1>
            <p>Por favor comience a agregar contenido <a href="/admin/calendario/evento">aqui</a></p>
        </div>
    {% endif %}
    </div>
    <br><br>
{% endblock %}