{% extends 'base_calendario.html' %}

{% block content %}
    <br>
    <div class="evento">
        <div class="foto">
            <img src="{{ evento.portada.url }}">
        </div>
        <div class="info">
            <h2>{{ evento.nombre }}</h2> 
            <p>Fecha: {{ evento.fecha_inicio.date }}, Hora: {{ evento.fecha_inicio|date:"H:i" }} hasta {{ evento.fecha_fin|date:"H:i" }}</p>
            <p>{{ evento.descripcion|safe }}</p>
        </div>
    </div>
    <br>
{% endblock %}